/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  background-color: #202325;
}
.slider {
  width: 700px;
  margin: 0 auto;
  max-width: 100%;
}

.slider input {
  display: none;
}

.slides {
  position: relative;

  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #202325;
  /* overflow: hidden; */
}

.overflow_container {
  width: 100%;
  padding-bottom: 40px;
  overflow: hidden;

}


#slide1:checked ~ .slides .inner-container {
  margin-left: 0;
}

#slide2:checked ~ .slides .inner-container {
  margin-left: -100%;
}

#slide3:checked ~ .slides .inner-container {
  margin-left: -200%;
}

#slide4:checked ~ .slides .inner-container {
  margin-left: -300%;
}

.inner-container {
  width: 400%;
  transition: margin-left 200ms ease-in-out;
  /* cubic-bezier(0.215, 0.61, 0.355, 1); */

  height: 480px;
}

.slide {
  width: 25%;
  float: left;
  height: 100%;

  border-radius: 5%;
  border-bottom: 50px;
  display: flex;

}
.slide_text {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-self: flex-end;
  position: relative;
  bottom: -35px;
  z-index: 2;
  /* text-indent:-9999px; */
  float: right;

  /* overflow: visible; */
}
.slide1 {
  background-image: url(assets/privet.jpg);
  background-repeat: no-repeat;
}


.slide2 {
  background-image: url(assets/cotayutsa.jpg);
}

.slide3 {
  background-image: url(assets/oleg.jpg);
}

.slide4 {
  background-image: url(assets/covid-cat1.jpg);
}

/* controls */

.controls {
  text-align: center;
  display: flex;
  gap: 10px;
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -20px;
  z-index: 5;
  margin-right: 20px;

}

.controls label {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #71abfe;
  border-radius: 50%;
  cursor: pointer;

}

.controls label::before{
  display: block;
  content : '';
  width: 35px;
  height: 35px;
  background-color:none;
  position: relative;
  top: -50%;
  left: -20%;
}


.controls label:hover {
  background-color: #fff;
}

.controls label:active {
  background-color:rgb(220, 223, 52)
}



#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-child(2),
#slide3:checked ~ .controls label:nth-child(3),
#slide4:checked ~ .controls label:nth-child(4) {
  background: none;
  border: 2px solid #71abfe;

}

@media screen and (max-width: 640px) {
  .controls{
    margin: 20px auto;
    padding: 0;
    justify-content:center;
    top: -100px;
  }
  .overflow_container{
    padding-bottom: 100px;
  }

  .slide_text{
    bottom: -70px
  }

  .slide{
    background-position: center;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
}

@media screen and (max-width: 530px) {
  .slide{
    background-position: center;
    height: 100%;
    border-radius: 50px;

    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
  }

  .inner-container {
    height: 63vw;
  }
}

@media screen and (max-width: 505px) {

  .slide_text{
    bottom: -90px
  }
}
