/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.slider {
  width: 720px;
  margin: 0 auto;
  max-width: 100%;
}

.slider input {
  display: none;
}

.slider label {
}

.slides {
  position: relative;
  padding: 50px;
  background-color: bisque;
}

.overflow_container {
  width: 100%;
  overflow: hidden;
}

.slide1:checked {
  margin-left: 0;
}

.slide2:checked {
  margin-left: -100%;
}

.slide3:checked {
  margin-left: -200%;
}

.slide4:checked {
  margin-left: -300%;
}

.inner-container {
  width: 400%;
  transition: margin-left 500ms;
  height: 480px;
  border: 5px solid black;
}

.slide {
  width: 25%;
  float: left;
  height: 100%;
}

.slide1 {
  background-image: url(/assets/privet.jpg);
  background-repeat: no-repeat;
}

.slide2 {
  background-image: url(/assets/cotayutsa.jpg);
}

.slide3 {
  background-image: url(/assets/oleg.jpg);
}

.slide4 {
  background-image: url(/assets/covid-cat.jpg);
}
